In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('dataset.csv')
data

   example     sky air temp humidity    winf water forecast enjoy sport
0        1  sunnny     warm   normal  strong  warm     same         yes
1        2   sunny     warm     high  strong  warm     same         yes
2        3   rainy     cold     high  strong  warm   change          no
3        4   sunny     warm     high  strong  cool   change         yes

In [2]:
concepts = np.array(data)[:,:-1]
concepts

array([[1, 'sunnny', 'warm', 'normal', 'strong', 'warm', 'same'],
       [2, 'sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       [3, 'rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       [4, 'sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [3]:
target= np.array(data)[:,-1]

In [4]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [32]:
def train(con, tar):
  for i , val in enumerate(tar):
    if val == 'yes':
        specific_h = con[i].copy()
        break

  for  i ,val in enumerate(con):
        if tar[i] =='yes':
         for x in range (len(specific_h)):
             if val [x] != specific_h[x]:
                 specific_h[x] = '?'

             else:
                 pass
        return specific_h

In [33]:
  print(train(concepts,target))

[1 'sunnny' 'warm' 'normal' 'strong' 'warm' 'same']